{
  "presets": [
    ["@babel/env", { "targets": { "node": "current" }}],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      { "legacy": true }
    ],
    "@babel/plugin-transform-parameters",
    [
      "module-resolver",
      {
        "alias": {
          "#container": "./src/container",
          "#models": "./src/models",
          "#services": "./src/services",
          "#config": "./src/config",
          "#logger": "./src/logger",
          "src": "./src"
        }
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
