{
  "presets": [
    ["@babel/env", { "targets": { "node": "current" }}],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      { "legacy": true }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "src/*": "./src",
          "@container/*": "./src/container/*",
          "@container": "./src/container",
          "@services/*": "./src/services/*"
        }
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
